/*
 * Copyright 2013  Martin Scharm
 * 
 * This file is part of the YOURLS-ChromeExtension.
 * https://github.com/binfalse/YOURLS-ChromeExtension
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.___yourls_todo
{
	min-width:350px;
}
#___yourls_todo, #___yourls_done
{
	background-color:#eee;
	font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}
#___yourls_overlay
{
	border-radius: 15px;
	left : 100px;
	top : 100px;
	position : fixed;
	z-index : 999999;
	background : white;
	padding : 10px;
	border : 2px solid #2a85b3;
	box-shadow: 4px 4px 7px 3px #ccc;
}
#___yourls_settings h3, #info
{
	color: #2a85b3;
	display:inline-block; 
	
	float: left;
}
#___yourls_settings p
{
	display:inline-block; 
	clear: left;
	float: left;
}
#___yourls_settings
{
	border-radius: 15px;
	padding: 20px;
	border : 2px solid #2a85b3;
	box-shadow: 4px 4px 7px 3px #ccc;
	display: inline-block;
}
#___yourls_body
{
	font-family: "Droid Sans", Arial, Helvetica, sans-serif	
}