body {
	padding: 20px;
	min-width: 400px;
}
.display_table {
	width: 100%;
	border: 0px;
}
.display_table td {
    min-width: 90px;
}
#keyword, #result_url {
	min-width: 200px;
}
#message {
	color: red;
	margin-top: 10px;
}
#headlineicon {
	height: .8em;
}
button {
	margin-right: 5px;
	margin-top: 10px;
}
